<table class="table">
  <thead>
    <th>id</th>
    <th>Razon social</th>
    <th>CUIT</th>
    <th>Acciones</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Xu Xeign</td>
      <td>20-93921245-5</td>
      <td><button type="button" name="button" class="btn btn-primary">Modificar</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Xu Xeign</td>
      <td>20-93921245-5</td>
      <td><button type="button" name="button" class="btn btn-primary">Modificar</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Xu Xeign</td>
      <td>20-93921245-5</td>
      <td><button type="button" name="button" class="btn btn-primary">Modificar</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Xu Xeign</td>
      <td>20-93921245-5</td>
      <td><button type="button" name="button" class="btn btn-primary">Modificar</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Xu Xeign</td>
      <td>20-93921245-5</td>
      <td><button type="button" name="button" class="btn btn-primary">Modificar</button></td>
    </tr>
  </tbody>
</table>
